@model Homepage.Models.Customer
@{
    Layout = "_Admin";
}

<div class="container align-content">
    <img src="https://s17026.pcdn.co/wp-content/uploads/sites/9/2017/02/Administration-7217-1024x673.jpeg" />
</div>
