@model Homepage.Models.Book

<link rel="stylesheet" href="/css/contact.css">
<script src="https://kit.fontawesome.com/85a9b9ad0d.js" crossorigin="anonymous"></script>

    <div class="container">
        <div class="body d-md-flex align-items-center justify-content-between">
            <div class="col-md-6 maps" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5343.480492313702!2d105.78725852670307!3d21.02304046669612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9f983e67af%3A0x41721163aff0f497!2zQ2h1bmcgY8awIEdvbGRlbiBQYXJrIETGsMahbmcgxJDDrG5oIE5naOG7hw!5e0!3m2!1svi!2s!4v1646664153637!5m2!1svi!2s" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class=" box-2 d-flex flex-column h-100">
                <div class="mt-5">
                    <h1 class="mb-1 h-1">Contact Us.</h1>
                    <p class="text-muted mb-2">Information contact giftshop....</p>
                    <div class="main">
                            <h4>Address</h4>
                        Address: 59 Me Tri Ha - Nam  Tu Liem - Ha Noi
                    </div>
                        <div class="Contact">
                            <h4>Contact</h4>
                            <li>Email: mixigiftshop@gmail.com</li>
                            <li>Fanpage: GiftShop</li>
                            <li>Instagram: GiftShop</li>
                            <li>Tiktok: giftshop_123</li>
                            <li>Hotline:  +91 9823 132 111</li>
                        </div>
                    <div class="top_bar_contact">
                       <i class="fa-solid fa-alarm-clock"></i>
                        <h4>Live chat hours</h4>
                        Can't chat with us during those hours? We'll respond to
                        you 24 hours a day, 7 days a week outside of our live
                        chat hours- Send us an email or leave a message
                    </div>
                </div>
            </div> <span class="fas fa-times"></span>
        </div>
    </div>
