
<div>
    <h1>Hello, how can MDA help you?</h1>
    <a href="https://help.shopee.vn/portal/article/79509-[Th%C3%A0nh-vi%C3%AAn-m%E1%BB%9Bi]-Quy-tr%C3%ACnh-tr%E1%BA%A3-h%C3%A0ng-ho%C3%A0n-ti%E1%BB%81n-c%E1%BB%A7a-Shopee?previousPage=hot%20issues"> [New Member] MDA Refund Return Process</a>
    <a href="https://help.shopee.vn/portal/article/79215-[Th%C3%A0nh-vi%C3%AAn-m%E1%BB%9Bi]-C%C3%A1ch-theo-d%C3%B5i-t%C3%ACnh-tr%E1%BA%A1ng-v%E1%BA%ADn-chuy%E1%BB%83n-c%E1%BB%A7a-%C4%91%C6%A1n-h%C3%A0ng?previousPage=hot%20issues"> [New Member] How to track the shipping status of my order?</a>
    <a href="https://help.shopee.vn/portal/article/79180-[Th%C3%A0nh-vi%C3%AAn-m%E1%BB%9Bi]-L%C3%A0m-sao-%C4%91%E1%BB%83-mua-h%C3%A0ng-%2F-%C4%91%E1%BA%B7t-h%C3%A0ng-tr%C3%AAn-%E1%BB%A9ng-d%E1%BB%A5ng-Shopee?previousPage=hot%20issues"> [New Member] How to buy/order on Shopee app?</a>
    <a href="https://help.shopee.vn/portal/article/79180-[Th%C3%A0nh-vi%C3%AAn-m%E1%BB%9Bi]-L%C3%A0m-sao-%C4%91%E1%BB%83-mua-h%C3%A0ng-%2F-%C4%91%E1%BA%B7t-h%C3%A0ng-tr%C3%AAn-%E1%BB%A9ng-d%E1%BB%A5ng-Shopee?previousPage=hot%20issues"> [Order] What should I do if my order has been updated to the wrong status/not received?</a>
    <a href="https://help.shopee.vn/portal/article/79180-[Th%C3%A0nh-vi%C3%AAn-m%E1%BB%9Bi]-L%C3%A0m-sao-%C4%91%E1%BB%83-mua-h%C3%A0ng-%2F-%C4%91%E1%BA%B7t-h%C3%A0ng-tr%C3%AAn-%E1%BB%A9ng-d%E1%BB%A5ng-Shopee?previousPage=hot%20issues"> [Error] Why is my Shopee account locked/restricted?</a>
    <a href="https://help.shopee.vn/portal/article/79180-[Th%C3%A0nh-vi%C3%AAn-m%E1%BB%9Bi]-L%C3%A0m-sao-%C4%91%E1%BB%83-mua-h%C3%A0ng-%2F-%C4%91%E1%BA%B7t-h%C3%A0ng-tr%C3%AAn-%E1%BB%A9ng-d%E1%BB%A5ng-Shopee?previousPage=hot%20issues"> [Shopee Account] Why didn't I receive the OTP Verification Code?</a>
    <a href="https://help.shopee.vn/portal/article/79180-[Th%C3%A0nh-vi%C3%AAn-m%E1%BB%9Bi]-L%C3%A0m-sao-%C4%91%E1%BB%83-mua-h%C3%A0ng-%2F-%C4%91%E1%BA%B7t-h%C3%A0ng-tr%C3%AAn-%E1%BB%A9ng-d%E1%BB%A5ng-Shopee?previousPage=hot%20issues"> [Shipping Information] How do I contact the carrier/look up shipping information/delivery exchange?</a>
    <a href="https://help.shopee.vn/portal/article/79180-[Th%C3%A0nh-vi%C3%AAn-m%E1%BB%9Bi]-L%C3%A0m-sao-%C4%91%E1%BB%83-mua-h%C3%A0ng-%2F-%C4%91%E1%BA%B7t-h%C3%A0ng-tr%C3%AAn-%E1%BB%A9ng-d%E1%BB%A5ng-Shopee?previousPage=hot%20issues"> [Scam alert] Shop safely with Shopee</a>
    <a asp-controller="Book" asp-action="Index">Home</a>
</div>
