body {
    font-family: 'open sans';
    overflow-x: hidden;
    border: 1px solid #dddd;
    border-radius: 50px;
}

img {
    max-width: 100%;
}

.card {
    margin-top: 50px;
    background: white;
    padding: 3em;
    line-height: 1.5em;
    font-size: 20px;
}

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}
.checked, .price span {
    color: #ff9f1a;
}
